html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  font: 1rem/1.35 'Ubuntu', sans-serif;
  color: #222;
}

.shop {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  margin: 30px auto;
  max-width: 800px;
  background: #ccc;
}

.shop__order {
  flex-basis: 30%;
  background: #fdcb6e;
}
.order__info {
  margin-top: 15px;
}
.order__item {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  margin: 0 10px 10px;
  border-bottom: 1px dashed #333;
  font-size: 14px;
  padding-bottom: 5px;
}
.order__name {
  margin-right: 5px;
  text-transform: capitalize;
}
.order__calc {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  margin-left: auto;
  align-items: center;
}
.order__count {
  margin-right: 5px;
  font-size: 12px;
}
.order__remove {
  margin-left: 10px;
  padding: 0 3px;
  background: #d63031;
  font-size: 12px;
  color: #fff;
  border: none;
  cursor: pointer;
  outline: none;
}
.order__sum {
  font-weight: bold;
}

.shop__add {
  background: #ffeaa7;
  flex-basis: 70%;
}
.add__heading, .order__heading {
  margin: 15px 10px 10px;
  font-size: 18px;
  border-bottom: 1px solid #333;
}

.shop__add-list {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-grow: 1;
  flex-flow: wrap;
  padding: 20px;
}

.shop__add-item {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex: 1 1 auto;
  /*width: 50%;*/
  align-items: center;
  margin-left: 15px;
  margin-bottom: 15px;
  background: #fdcb6e;
  box-sizing: border-box;
  cursor: pointer;
}
.shop__add-item:hover {
  background: #fda669;
}
.shop__add-item:nth-child(odd) {
  margin-left: 0;
}

.add-item__icon {
  padding: 5px 15px;
  max-width: 80px;
}

.add-item__icon img{
  max-width: 100%;
}
.add-item__info {
  padding-left: 20px;
}
.add-item__title {
  margin: 0 0 5px;
  font-size: 16px;
  text-transform: capitalize;
}
.add-item__price {
  font-size: 14px;
}
.add-item__price span {
  font-weight: bold;
}
.order__total {
  padding: 0 10px;
  font-size: 14px;
  font-weight: bold;
  text-align: right;
}